DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=
DISCORD_TOKEN=
DISCORD_API_BASE_URL=https://discord.com/api/v10
MONGO_URI=
MONGO_DB_NAME=
PORT=3000
NODE_ENV=development
AUTO_REFRESH_DAILY=false
LAUNCHER_CLIENT_ID=34a02cf8f4414e29b15921876da36f9a
LAUNCHER_CLIENT_SECRET=daafbccc737745039dffe53d94fc76cf
EPIC_CLIENT_ID=ec684b8c687f479fadea3cb2ad83f5c6
EPIC_CLIENT_SECRET=e1f31c211f28413186262d37a13fc84d
